body{
    margin: 0;
    border: 0;




}

.container {  display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1.1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "aside main main main"
      "aside main main main"
      "footer footer footer footer";
  }
  
  header { grid-area: header; }
  
  aside { grid-area: aside; }
  
  main { grid-area: main; }

  main h1, h2{

      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      



  }

  main h2{
      font-size: 1.5rem;



  }

  main p{
      
      text-align: justify;
      font-size: 0.8rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 1.5rem;



  }
  
  footer { grid-area: footer; }
  