body{
    margin: 0;
    border: 0;




}

.container {  display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1.1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "aside main main main"
      "aside main main main"
      "footer footer footer footer";
  }
  
  header { grid-area: header; }
  
  aside { grid-area: aside;}


aside  a{
    
   
   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    display: block;
    padding: 1rem;
    background-color: red;
  


  }

  aside a:hover{
      
      color: white;

   
  


  }

  aside ul{

    

    list-style-type: none;
    display: flex;
    flex-direction: column;

    
    
    


    
    

  }

  aside li{



 
     margin-top: 0.3rem;
     margin-bottom: 0.3rem;
     border: black solid 1.5px; 
     border-radius: 6px;



  }
  
  main { grid-area: main; }

  main h1, h2{

      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      



  }

  main h2{
      font-size: 1.5rem;



  }

  main p{
      
      text-align: justify;
      font-size: 0.8rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 1.5rem;



  }
  
  footer { grid-area: footer; }
  